<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="data:,">

    <!-- Embedded Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-icons/font/bootstrap-icons.min.css}">

    <style>
        .popover-wider {
            max-width: 500px;
        }
    </style>

    <title>Placeholder</title>
</head>

<body>
    <div layout:fragment="content">
    </div>

    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="successToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header text-bg-success">
                <strong class="me-auto">Saved!</strong>
                <button type="button" class="btn-close btn-close-white border-0" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <p><span id="successToastConfigName"></span> configuration updated!</p>
            </div>
        </div>
        <div id="errorToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header text-bg-danger">
                <strong class="me-auto">Error!</strong>
                <button type="button" class="btn-close btn-close-white border-0" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
            <div class="toast-body">
                <p th:text="${name} + ' configuration could not be updated!'"></p>
                <p id="errorMsg"></p>
            </div>
        </div>
    </div>

    <!-- Embedded Scripts -->
    <script th:src="@{/js/jquery-3.2.1.slim.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/js/js-yaml.min.js}"></script>
    <script>
        const popoverTriggerList = document.querySelectorAll('[data-bs-toggle="popover"]')
        const popoverList = [...popoverTriggerList].map(popoverTriggerEl => new bootstrap.Popover(popoverTriggerEl))
        const toastElList = document.querySelectorAll('.toast')
        const toastList = [...toastElList].map(toastEl => new bootstrap.Toast(toastEl, {}));
        const successToast = document.getElementById('successToast');
        const toastConfigName = document.getElementById('successToastConfigName');
        const errorToast = document.getElementById('errorToast');
        const errorMsg = document.getElementById('errorMsg');
    </script>
</body>

</html>