<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{base}">

<head>
    <title>Agent Configuration</title>
    <style>
        label {
            font-weight: bold;
        }

        .form-control {
            display: inline;
            width: 300px;
        }

        form div {
            margin-bottom: 1rem;
        }

        #rules-textarea::placeholder {
            opacity: 0.5;
        }
    </style>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const agentConfigurationUrl = /*[[${servicePublicURL}]]*/ "http://localhost:8080/agent-configuration";
        const serviceName = /*[[${name}]]*/ "placeholder-name"
        /*]]>*/

        function yamlToJson(yamlString) {
            try {
                return jsyaml.load(yamlString);
            } catch (e) {
                throw Error("Invalid YAML, unable to convert to JSON.");
            }
        }

        function updateConfig() {
            const samplerSelect = document.getElementById('sampler');
            const ratioInput = document.getElementById('ratio');
            const rulesTextarea = document.getElementById('rules-textarea')
            const rulesList = []
            const rules = yamlToJson(rulesTextarea.value);
            if (rules != null) {
                rulesList.push(rules)
            }


            const payload = {
                serviceName: serviceName,
                sampler: samplerSelect.value,
                sampleRatio: parseFloat(ratioInput.value),
                rules: rulesList
            };

            return fetch(agentConfigurationUrl + '/' + serviceName, {
                method: 'PATCH',
                headers: {
                    'Content-Type': 'application/json',
                    'User-Agent': 'da-otel-agent-frontend'
                },
                body: JSON.stringify(payload)
            })
                .then(response => {
                    if (!response.ok) {
                        return response.text().then(text => {
                            throw new Error(`${response.status}: ${text}`);
                        });
                    }
                    return response.json();
                })
                .then(updatedConfig => {
                    const timestampCell = document.getElementById('timestamp');
                    const updatedDate = new Date(updatedConfig.timestamp);
                    timestampCell.textContent = updatedDate.toLocaleString();
                });
        }

        document.addEventListener('DOMContentLoaded', () => {


            const form = document.querySelector('form');


            form.addEventListener('submit', async (event) => {
                event.preventDefault();
                let activeToast = null;

                try {
                    await updateConfig();
                    successToastConfigName.textContent = serviceName;
                    activeToast = bootstrap.Toast.getOrCreateInstance(successToast);
                } catch (error) {
                    console.error("Error updating configuration:", error);
                    errorMsg.textContent = error;
                    activeToast = bootstrap.Toast.getOrCreateInstance(errorToast);
                }

                activeToast.show();
            });
        });
    </script>
</head>

<body>
    <div layout:fragment="content">
        <div class="container mt-4">
            <a href="/" class="btn">
                <i class="bi bi-arrow-left"></i> Back to overview
            </a>
            <h1 th:text="${name}"></h1>
            <hr>
            <p><b>Read only:</b> <span th:text="${config.readOnly}">false</span></p>
            <p><b>Last changed:</b> <span id="timestamp"
                    th:text="${#dates.format(config.timestamp, 'yyyy-MM-dd HH:mm:ss')}">Timestamp</span></p>
            <div>
                <form>
                    <div>
                        <label for="sampler">Sampler: </label>
                        <select class="form-select form-control" id="sampler" th:disabled="${config.readOnly}"
                            th:name="sampler">
                            <option
                                th:each="samplerType : ${T(no.domstol.otel.agent.service.AgentConfiguration.SamplerType).values()}"
                                th:value="${samplerType}" th:text="${samplerType}"
                                th:selected="${config.sampler == samplerType}">
                            </option>
                        </select>
                    </div>

                    <div>
                        <label for="ratio">Sample ratio:</label>
                        <input type="number" step="0.001" min="0" max="1" id="ratio" class="form-control"
                            th:name="sampleRatio" th:value="${config.sampleRatio}" th:disabled="${config.readOnly}" />
                    </div>
					<div>
					  <div class="row">
                        <label style="display: block;" for="rules-textarea" class="form-label">Filter rules:</label>
					    <div class="col-sm">
	                        <textarea id="rules-textarea" class="form-control font-monospace" rows="10" style="width:100%"
	                            th:text="${@configurationRenderer.getFormattedRules(config)}" placeholder="# EXAMPLE RULES
exclude:
  - http.target: &quot;/health/.+&quot;
    http.method: &quot;GET&quot;
  - http.target: &quot;/metrics&quot;
    http.method: &quot;GET&quot;
include:
  - http.method: &quot;POST&quot;
							"></textarea>
                        <p th:if="${config.rules == null}">No rules defined.</p>
					    </div>
					    <div class="col-sm">
<p>
The filtering mechanism is applied before the underlying sampler recieves its
data. It can be used to determine whether or not a <a href="https://opentelemetry.io/docs/concepts/signals/traces/#spans">span</a> should be created. 
Note that inclusion takes precedence.
</p>
<p>
OTEL can add certain pieces of metadata, or <a href="https://opentelemetry.io/docs/concepts/signals/traces/#attributes">attributes</a>, to each span it 
collects. For HTTP requests, this might include things like the target 
URL of the request (http.target), or the HTTP method used (http.method). 
These attributes are what is used for the filtering. Attributes can be 
collected into a <i>set</i> where all values must be <i>true</i> for the set
to be activated.
</p>
<p>
Attributes are key-value pairs where the value can be a <a href="https://www.vogella.com/tutorials/JavaRegularExpressions/article.html">Java regular expression</a>. If
your are curious on what attrbutes are available, collect some samples and use Jaeger to <a th:href="${jaegerURL + '/search?service=' + config.serviceName}"><i class="bi bi-search" title="Click to view traces in Jaeger"></i> inspect the traces</a>. The attibutes will be listed as <i>tags</i>. 
</p>
					    </div>
					</div> <!-- container-->
                    <button type="submit" id="saveBtn" th:disabled="${config.readOnly}" class="btn btn-primary">
						<i class="bi bi-floppy-fill"></i> Save agent configuration
					</button>
                </form>
            </div>
        </div>
    </div>
</body>